* {
    margin: 0;
    padding: 0;  
    font-family: 'Quicksand', sans-serif;
}


body {
    background-color: #a8a8a8d2;
}

.start-btn,
.info-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.start-btn button {
    font-weight: 500;
    padding: 15px 30px;
    outline: none;  
    border: none;   
    border-radius: 5px;
    background: ;
    cursor: pointer;
    color: #151b1b;

}

.start-btn button:hover {
    background-color: #B1A6A4;
    
}

.info-box {
    display: none;
    background-color: burlywood;
    padding: 25px;
    border-radius: 10px;
}

.info-title {
      text-align: center;
      font-size: 40px;
}

.info-list {
    padding: 5%;
}

.info-list li {
    margin: 5px 0;
    font-size: 20px;
}

.info-box .restart {
    font-weight: 500;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #151b1b;
    display: flex;
    justify-content: center;

}

.info-box .restart:hover {
    background-color: #B1A6A4;
}
